/* .section-shrink{
  width: 100vw !important;
  height: 100vh !important;
  background: orange !important;
  transition: ease-in 1s;
} */
.left{
  background: tan;

}
.right{
  background: aqua;
}
.down{
  background: tomato
}
.center{
  background: lightblue;
}
.container{
  width: 200vw;
  flex-wrap: wrap;
  display: flex;
}
.section{
  height: 100vh;
  width: 100vw;
}
*{
  margin: 0;
  padding: 0;
}
