.section-shrink{
  width: 50vw !important;
  height: 50vh !important;
}
.main-btn{
  height: 100px;
  width: 200px;
  position: fixed;
}
#top-left{
  display: flex;
  justify-content: center;
  align-items: center;
}
.left{
  background: tan;

}
.right{
  background: aqua;
}
.down{
  background: tomato
}
.center{
  background: lightblue;
}
.container-sm{
  width: 100% !important;
  display: flex;
  position: absolute;
}
.container{
  width: 200vw;
  flex-wrap: wrap;
  display: flex;
  position: absolute;
}
.section{
  height: 100vh;
  width: 100vw;
  transition: ease-in 0.4s;
}
*{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
